main {
    .main__headerImg {
        // background-image: url("../images/mobile/image-header.jpg");
        // @include bgImgProp;
        // height: 60vh;

        .headerImg__header {
            @include myFlex(flex, row, nowrap, space-between, baseline);
            display: grid;
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: 20% 35%;
            grid-template-areas:
            "."
            "title"
            "arrow";

            .header__background {
                width: 100%;
                height: auto;
                position: relative;

            }

            .header__container {
                position: absolute;
                @include myFlex (flex, row, nowrap, space-between, baseline);
                width: 100%;

                .header__title {
                    color: white;
                    font-family: map-get($fontFamilies, fraunces);
                    font-weight: 900;
                    font-size: 1.5rem;
                    padding: 1rem 0 0 1rem;
                }

                nav {
                    .menu {
                        position: fixed;
                        transform: translateX(100%);
                        transition: transform 0.2s;
                        top: 105px;
                        left: 50px;
                        right: 0;
                        height: 250px;
                        background: white;
                        color: map-get($nColors, Very_dark_grayish_blue);
                        list-style: none;

                        li {
                            @include myFlex (flex, column, nowrap, center, center);
                            color: map-get($nColors, Dark_grayish_blue);
                            font-family: map-get($fontFamilies, barlow);
                            margin: 30px 0;
                        }

                        .contact {
                            background-color: map-get($pColors, Yellow);
                            border-radius: 22px;
                            margin: 0 80px;
                            padding: 14px 0;
                            color: black;
                            text-transform: uppercase;
                            font-family: map-get($fontFamilies, fraunces);
                            font-size: 0.8rem;

                        }
                    }

                    .showMenu {
                        transform: translatex(-25px);
                    }
                }

                .hamburger {
                    z-index: 100;
                    border: none;
                    background-color: unset;
                    right: 1rem;
                    cursor: pointer;
                    padding: 1rem 1rem 0 0;

                    img {
                        width: 25px;
                    }

                    .hamburger--opened {
                        display: none;
                        opacity: 0.5;
                    }

                }

            }
        }
        .header__text {
            text-align: center;
            color: white;
            text-transform: uppercase;
            font-size: 2rem;
            font-family: map-get($fontFamilies, fraunces);
            letter-spacing: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
            grid-area: title;
        }

        .header__arrow {
            grid-area: arrow;
            position: absolute;
            left: 50%;
            width: 2rem;
            transform: translate(-50%);
        }
    }
}

.transformStandout {

    .sect__imgTransform,
    .sect__imgStandOut {
        @include myFlex (flex, column, nowrap, center, center);

        img {
            @include respPhoto;
        }
    }

    article {
        padding: 70px 0;
        background-color: map-get($pColors, Soft_red);
        @include myFlex (flex, column, nowrap, center, center);
        text-align: center;
        font-family: map-get($fontFamilies, fraunces);

        h2 {
            font-size: 2rem;
            font-weight: 800;
            margin: 0 20px 20px 20px;
            color: map-get($nColors, Very_dark_desaturated_blue);
        }

        p {
            font-size: 1rem;
            font-family: map-get($fontFamilies, barlow);
            margin: 0 25px 5px 25px;
            line-height: 30px;
            color: map-get($nColors, Dark_grayish_blue);

        }

        a {
            font-size: 0.9rem;
            font-weight: 800;
            margin-top: 40px;
            color: black;
            text-transform: uppercase;
        }
    }
}

.graphPhoto {

    color: map-get($pColors, Dark_desaturated_cyan);
    text-align: center;

    h3 {
        font-family: map-get($fontFamilies, fraunces);
        font-size: 1.6rem;
        font-weight: 900;
        padding-top: 380px;
    }

    p {
        font-family: map-get($fontFamilies, barlow);
        font-size: 0.8rem;
        line-height: 25px;
        margin: 0 25px 20px 25px;
        margin-top: 35px;
    }

    .sect__graphicDesign {
        .graphicDesign__img {
            background-image: url("../images/mobile/image-graphic-design.jpg");
            @include bgImgProp;
            height: 570px;
        }
    }

    .sect__photography {
        .photography__img {
            background-image: url("../images/mobile/image-photography.jpg");
            @include bgImgProp;
            height: 570px;
        }
    }

}

.sect__testimonials {
    background-color: map-get($pColors, Soft_red);
    @include myFlex(flex, column, nowrap, center, center);
    padding: 1.5rem;

    h4 {
        text-transform: uppercase;
        padding: 2.3rem 0;
        font-family: map-get($fontFamilies, fraunces);
        letter-spacing: 4px;
        font-size: 0.9rem;
        color: map-get($nColors, Grayish_blue);
    }

    .testimonial {
        @include myFlex (flex, column, nowrap, center, center);

        img {
            width: 4rem;
            border-radius: 50%;
            margin: 1rem 0 2rem 0;
        }

        p {
            text-align: center;
            line-height: 30px;
            font-family: map-get($fontFamilies, barlow);
            color: map-get($nColors, Dark_grayish_blue);
        }

        .testimonial__nameCharge {
            display: block;
            text-align: center;
            margin: 2rem 0;

            h5 {
                font-family: map-get($fontFamilies, fraunces);
                font-weight: 900;
            }

            p {
                font-size: 0.8rem;
                color: map-get($nColors, Grayish_blue);

            }
        }
    }
}



.photos {
    @include myFlex(flex, row, wrap, center, center);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    grid-template-areas:
        "photo1 photo2"
        "photo3 photo4"
    ;

    @for $i from 1 to 5 {
        .photo#{$i} {
            grid-area: photo#{$i};
        }
    }

    img {
        @include respPhoto;
    }


}