body {
    main {
        .main__headerImg {
            background-image: url("../images/mobile/image-header.jpg");
            @include bgImgProp;
            width: 750px;
            height: 1076px;
        }
    }

    .sect__graphicDesign {
        .graphicDesign__img {
            background-image: url("../images/mobile/image-graphic-design.jpg");
            @include bgImgProp;
            width: 750px;
            height: 1200px;
        }
    }

    .sect__photography {
        .photography__img {
            background-image: url("../images/mobile/image-photography.jpg");
            @include bgImgProp;
            width: 750px;
            height: 1200px;
        }
    }
}