@mixin resets {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@mixin bgImgProp {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin myFlex ($diplay, $flex-direcion, $wrap, $justify-content, $align-items) {
    display: $diplay;
    flex-direction: $flex-direcion;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin respPhoto {
    width: 100%;
    height: auto;
}

@mixin transStandDesk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: 
    "article .";
    article {
        grid-area: article;
        height: 100%;
    }
}

@mixin hoverNav {
    background-color: rgba(255, 255, 255, 0.362);
    border-radius: 22px;
    color: white;
    transition: all 0.5s;
}

@mixin afterLine  {
    content: '';
    border-radius: 5px;
    background-color: rgb(255, 255, 0);
    opacity: 0.3;
    position: absolute;
    width: 140px;
    height: 9px;
    top: 13px;
    left: -10px;
    z-index: -1;
    transition: all 0.5s;
}

$fontFamilies : (
    barlow: 'Barlow',
    fraunces: 'Fraunces'
);

$pColors : (
 Soft_red: hsla(7, 99%, 70%, 0.093),
 Yellow: hsl(51, 100%, 49%),
 Dark_desaturated_cyan: hsl(167, 40%, 24%),
 Dark_blue: hsl(198, 62%, 26%),
 Dark_moderate_cyan: hsl(168, 34%, 66%)
);

$nColors : (
 Very_dark_desaturated_blue: hsl(212, 27%, 19%),
 Very_dark_grayish_blue: hsl(213, 9%, 39%),
 Dark_grayish_blue: hsl(232, 10%, 55%),
 Grayish_blue: hsl(210, 4%, 67%),
 White: hsl(0, 0%, 100%)
);

.hidden {
    display: none;
}