@import "variables.scss";
@import "index.scss";

html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
}

footer {
    background-color: map-get($pColors, Dark_moderate_cyan);
    @include myFlex(flex, column, nowrap, center, center);
    color: map-get($pColors, Dark_desaturated_cyan);

    h2 {
        font-family: map-get($fontFamilies, fraunces);
        font-weight: 900;
        font-size: 1.8rem;
        padding: 2rem 0;
        opacity: .9;
    }

    .links {
        @include myFlex(flex, row, nowrap, space-between, center);
        width: 100%;

        a {
            color: map-get($pColors, Dark_desaturated_cyan);
            opacity: .7;
            margin: 0 1rem;
            font-family: map-get($fontFamilies, barlow);
        }
        
    }
    .socialMedia {
        width: 100%;
        margin: 3.5rem 3rem;
        text-align: center;
        a {
            margin: 0 0.5rem;
        }
    }
}