.hidden {
  display: none; }

main .main__headerImg .headerImg__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 35%;
  grid-template-areas: "." "title" "arrow"; }
  main .main__headerImg .headerImg__header .header__background {
    width: 100%;
    height: auto;
    position: relative; }
  main .main__headerImg .headerImg__header .header__container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    main .main__headerImg .headerImg__header .header__container .header__title {
      color: white;
      font-family: "Fraunces";
      font-weight: 900;
      font-size: 1.5rem;
      padding: 1rem 0 0 1rem; }
    main .main__headerImg .headerImg__header .header__container nav .menu {
      position: fixed;
      transform: translateX(100%);
      transition: transform 0.2s;
      top: 105px;
      left: 50px;
      right: 0;
      height: 250px;
      background: white;
      list-style: none;
      z-index: 99; }
      main .main__headerImg .headerImg__header .header__container nav .menu::before {
        content: "";
        position: absolute;
        right: 0%;
        top: -29px;
        width: 0;
        height: 0;
        border-left: 33px solid transparent;
        border-bottom: 34px solid white; }
      main .main__headerImg .headerImg__header .header__container nav .menu li {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: #818498;
        font-family: "Barlow";
        margin: 30px 0; }
        main .main__headerImg .headerImg__header .header__container nav .menu li a {
          color: #5a636c; }
      main .main__headerImg .headerImg__header .header__container nav .menu .contact {
        background-color: #fad400;
        border-radius: 22px;
        margin: 0 80px;
        padding: 14px 0;
        text-transform: uppercase;
        font-family: "Fraunces";
        font-size: 0.8rem; }
        main .main__headerImg .headerImg__header .header__container nav .menu .contact a {
          color: black; }
    main .main__headerImg .headerImg__header .header__container nav .showMenu {
      transform: translatex(-25px); }
    main .main__headerImg .headerImg__header .header__container .hamburger {
      position: fixed;
      z-index: 100;
      border: none;
      background-color: unset;
      right: 1rem;
      cursor: pointer;
      padding: 1rem 1rem 0 0; }
      main .main__headerImg .headerImg__header .header__container .hamburger img {
        width: 25px; }
      main .main__headerImg .headerImg__header .header__container .hamburger .hamburger--opened {
        display: none;
        opacity: 0.5; }

main .main__headerImg .header__text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Fraunces";
  letter-spacing: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  grid-area: title; }

main .main__headerImg .header__arrow {
  grid-area: arrow;
  position: absolute;
  left: 50%;
  width: 2rem;
  transform: translate(-50%); }

.transformStandout .sect__imgTransform,
.transformStandout .sect__imgStandOut {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .transformStandout .sect__imgTransform img,
  .transformStandout .sect__imgStandOut img {
    width: 100%;
    height: auto; }

.transformStandout article {
  padding: 70px 0;
  background-color: rgba(254, 120, 103, 0.093);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Fraunces"; }
  .transformStandout article h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0 20px 20px 20px;
    color: #23303e; }
  .transformStandout article p {
    font-size: 1rem;
    font-family: "Barlow";
    margin: 0 25px 5px 25px;
    line-height: 30px;
    color: #818498; }
  .transformStandout article a {
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 40px;
    color: black;
    text-transform: uppercase;
    position: relative;
    z-index: 1; }
    .transformStandout article a:after {
      content: '';
      border-radius: 5px;
      background-color: yellow;
      opacity: 0.3;
      position: absolute;
      width: 140px;
      height: 9px;
      top: 13px;
      left: -10px;
      z-index: -1;
      transition: all 0.5s; }
    .transformStandout article a:hover:after {
      opacity: 0.6; }

.transformStandout .sect__imgStandOut a:after {
  background-color: rgba(255, 0, 0, 0.729); }

.graphPhoto .sect__graphicDesign {
  display: grid;
  position: relative;
  grid-template-rows: 60% 15%;
  gap: 0;
  grid-template-areas: ". " "title" "paragraph";
  text-align: center;
  color: #25564b; }
  .graphPhoto .sect__graphicDesign img {
    width: 100%;
    height: auto; }
  .graphPhoto .sect__graphicDesign h3 {
    font-family: "Fraunces";
    font-size: 1.6rem;
    font-weight: 900;
    position: absolute;
    grid-area: title;
    width: 100%; }
  .graphPhoto .sect__graphicDesign .photography__paragraph {
    position: absolute;
    grid-area: paragraph;
    width: 100%; }
    .graphPhoto .sect__graphicDesign .photography__paragraph p {
      font-family: "Barlow";
      font-size: 0.9rem;
      line-height: 25px;
      padding: 0 1rem; }

.sect__testimonials {
  background-color: rgba(254, 120, 103, 0.093);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; }
  .sect__testimonials h4 {
    text-transform: uppercase;
    padding: 2.3rem 0;
    font-family: "Fraunces";
    letter-spacing: 4px;
    font-size: 0.9rem;
    color: #a7abae; }
  .sect__testimonials .testimonails__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .sect__testimonials .testimonails__container .testimonial {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      .sect__testimonials .testimonails__container .testimonial img {
        width: 4rem;
        border-radius: 50%;
        margin: 1rem 0 2rem 0; }
      .sect__testimonials .testimonails__container .testimonial p {
        text-align: center;
        line-height: 30px;
        font-family: "Barlow";
        color: #818498; }
      .sect__testimonials .testimonails__container .testimonial .testimonial__nameCharge {
        display: block;
        text-align: center;
        margin: 2rem 0; }
        .sect__testimonials .testimonails__container .testimonial .testimonial__nameCharge h5 {
          font-family: "Fraunces";
          font-weight: 900; }
        .sect__testimonials .testimonails__container .testimonial .testimonial__nameCharge p {
          font-size: 0.8rem;
          color: #a7abae; }

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  grid-template-areas: "photo1 photo2" "photo3 photo4"; }
  .photos .photo1 {
    grid-area: photo1; }
  .photos .photo2 {
    grid-area: photo2; }
  .photos .photo3 {
    grid-area: photo3; }
  .photos .photo4 {
    grid-area: photo4; }
  .photos img {
    width: 100%;
    height: auto; }

@media screen and (min-width: 722px) {
  main .main__headerImg .headerImg__header {
    grid-template-rows: 20% 28%; }
    main .main__headerImg .headerImg__header .header__background--mobile {
      display: none; }
    main .main__headerImg .headerImg__header .header__background--desktop {
      background-image: url("../images/desktop/image-header.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px; }
    main .main__headerImg .headerImg__header .header__container {
      align-items: baseline; }
      main .main__headerImg .headerImg__header .header__container nav .menu {
        display: none; }
      main .main__headerImg .headerImg__header .header__container nav .menu--desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 1rem; }
        main .main__headerImg .headerImg__header .header__container nav .menu--desktop li {
          list-style: none;
          margin: 0 0.5rem; }
          main .main__headerImg .headerImg__header .header__container nav .menu--desktop li a {
            color: white;
            font-family: "Barlow";
            font-size: 0.8rem;
            padding: 8px 15px; }
            main .main__headerImg .headerImg__header .header__container nav .menu--desktop li a:hover {
              background-color: rgba(255, 255, 255, 0.362);
              border-radius: 22px;
              color: white;
              transition: all 0.5s; }
        main .main__headerImg .headerImg__header .header__container nav .menu--desktop .contact a {
          background-color: white;
          border-radius: 22px;
          padding: 8px 15px;
          color: black;
          text-transform: uppercase;
          font-family: "Fraunces";
          font-size: 0.8rem; }
      main .main__headerImg .headerImg__header .header__container .hamburger {
        display: none; }
  .transformStandout .transformStandout_img--mobile {
    display: none; }
  .transformStandout .transformStandout_img--desktop {
    display: block; }
  .graphPhoto .graphicDesign__img--mobile {
    display: none; }
  .graphPhoto .graphicDesign__img--desktop {
    display: block; } }

@media screen and (min-width: 1000px) {
  .transformStandout .sect__imgTransform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: "article ."; }
    .transformStandout .sect__imgTransform article {
      grid-area: article;
      height: 100%; }
  .transformStandout .sect__imgStandOut {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: "article .";
    grid-template-areas: ". article"; }
    .transformStandout .sect__imgStandOut article {
      grid-area: article;
      height: 100%; }
  .graphPhoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: "article ."; }
    .graphPhoto article {
      grid-area: article;
      height: 100%; }
  .sect__testimonials .testimonails__container {
    flex-direction: row; }
  .photos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "photo1 photo2 photo3 photo4"; } }

html,
body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  font-size: 18px; }

a {
  text-decoration: none; }

footer {
  background-color: #8bc6ba;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #25564b; }
  footer h2 {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 1.8rem;
    padding: 2rem 0;
    opacity: .9; }
  footer .links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
    footer .links a {
      color: #25564b;
      opacity: .7;
      margin: 0 1rem;
      font-family: "Barlow";
      transition: color .3s; }
      footer .links a:hover {
        color: white; }
  footer .socialMedia {
    width: 100%;
    margin: 3.5rem 3rem;
    text-align: center; }
    footer .socialMedia a {
      margin: 0 0.7rem;
      transition: filter .3s; }
      footer .socialMedia a:hover {
        filter: brightness(0) invert(1); }
